# Q1. How do you comment code in Python? What are the different types of comments?

### Comments starts with a #, and Python will ignore them
### Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [2]:
# this is type of comment code
print('hello')

hello

# Q2. What are variables in Python? How do you declare and assign values to variables?

In [3]:
var = 1 + 7

In [4]:
print(var)

8

# Q3. How do you convert one data type to another in Python?

In [5]:
x = 10

print("x is of type:",type(x))

y = 10.6
print("y is of type:",type(y))

z = x + y

print(z)
print("z is of type:",type(z))

x is of type: <class 'int'>
y is of type: <class 'float'>
20.6
z is of type: <class 'float'>

# Q4. How do you write and execute a Python script from the command line


- Verify your terminal or command prompt can run Python
- Create a Python script that is error-free
- Use python your/file/name.py to run your script from the terminal

# Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [1]:
my_list=[1,2,3,4,5]

In [3]:
my_list[1:3]

[2, 3]

# Q6. What is a complex number in mathematics, and how is it represented in Python

In [4]:
complex_num = 23 + 45j

In [5]:
complex_num

(23+45j)

In [7]:
complex_num.real

23.0

In [8]:
complex_num.imag

45.0

# Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [9]:
age = 25

In [10]:
age

25

# Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [11]:
price = 9.99

In [12]:
type(price)

float

# Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [13]:
name = 'smita prajapati'

In [14]:
print(name)

smita prajapati

# Q10. Given the string "Hello, World!", extract the substring "World"

In [16]:
str_1='Hello,World!'

In [18]:
str_1[6:11]

'World'

# Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [19]:
is_student = 45.98

In [20]:
is_student

45.98

In [24]:
if (is_student == 45.98):
    print("I'm student")

else:
    print("I'm not student");

I'm student