# Q-1

### Create one variable containing following type of data

In [1]:
A=['John',[1,2,3,45],2.03,('Mack',14)]

In [2]:
print(A)

['John', [1, 2, 3, 45], 2.03, ('Mack', 14)]

# Q-2

In [6]:
var1 = ''

var2 = '[ DS , ML , Python]'

var3 = [ 'DS' , 'ML' , 'Python' ]

var4 = 1.

In [7]:
type(var1)

str

In [8]:
type(var2)

str

In [9]:
type(var3)

list

In [10]:
type(var4)

float

# Q-3

In [3]:
1 /3

0.3333333333333333

In [4]:
3%2

1

In [12]:
8 // 4

2

In [13]:
3 ** 2

9

# Q-4

In [14]:
# continue
s=[1,5,7,58,'anu',42.5,9]
for i in s:
    print(type(i))
    if i == 7:
        continue
    print(i)

<class 'int'>
1
<class 'int'>
5
<class 'int'>
<class 'int'>
58
<class 'str'>
anu
<class 'float'>
42.5
<class 'int'>
9

# Q-5

In [15]:
factors = []
num = 1
while num <= 10:
    factors.append(10*num)
    num += 1       
print (factors)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Q-6

In [26]:
a = 8
b = 2

if a >= b:
    print("This number id divisible")
    
else:
    print("This number is not divisible")

This number id divisible

# Q-7

In [30]:
for x in range (0, 50, 3):
        if x % 2 == 0:
              print(x)

0
6
12
18
24
30
36
42
48

In [33]:
for i in range (int(input())):
    if i % 3 == 0:
        print("This element is divisible by 3")
        
    else:
        print("This element is not divisible by 3")

 5

This element is divisible by 3
This element is not divisible by 3
This element is not divisible by 3
This element is divisible by 3
This element is not divisible by 3

In [34]:
mut1 = [3,4,9,5,6,"sudh" , 3+7j , True , 34.56]

In [35]:
mut1[2]= False

In [36]:
mut1

[3, 4, False, 5, 6, 'sudh', (3+7j), True, 34.56]

In [37]:
imut = 'John'

In [38]:
imut[3]=a

TypeError: 'str' object does not support item assignment