# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data:

In [3]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [4]:
import pandas as pd

# Creating a Series
series = pd.Series([1, 2, 3, 4, 5], name='Numbers')
print(series)

# Creating a DataFrame
data = {'Name': ['John', 'Emily', 'Ryan'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)
print(df)

0    1
1    2
2    3
3    4
4    5
Name: Numbers, dtype: int64
    Name  Age
0   John   25
1  Emily   30
2   Ryan   35

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions ?

In [5]:
import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['John', 'Emily', 'Ryan'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)

# Using the functions
print(df.head())  # View the first 5 rows
print(df.describe())  # Generate descriptive statistics
df_sorted = df.sort_values('Age')  # Sort the DataFrame by 'Age'
print(df_sorted)

    Name  Age      City
0   John   25  New York
1  Emily   30    London
2   Ryan   35     Paris
        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0
    Name  Age      City
0   John   25  New York
1  Emily   30    London
2   Ryan   35     Paris

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

- In pandas, Series and DataFrame are mutable in nature, while Panel is not mutable. This means that Series and DataFrame objects can be modified, updated, or have values changed after their creation. On the other hand, Panel objects, which are three-dimensional data structures, do not support direct modification of their contents.

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [7]:
import pandas as pd

# Creating multiple Series
name_series = pd.Series(['John', 'Emily', 'Ryan'])
age_series = pd.Series([25, 30, 35])
city_series = pd.Series(['New York', 'London', 'Paris'])

# Creating DataFrame using multiple Series
data = {'Name': name_series, 'Age': age_series, 'City': city_series}
df = pd.DataFrame(data)
print(df)

    Name  Age      City
0   John   25  New York
1  Emily   30    London
2   Ryan   35     Paris